/*
* @author Reginaldo ledes
* @version 0.1
*
*/

/* ========== layout ========== */
html, body {
  height: 100%;
  overflow: auto;
}

body {
  background: url('../img/bg.png') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

.text-cover {
  text-align: center;
  display: block;
  vertical-align: middle;
  padding-top: 15%;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: inline;
}
/* ---- Tipografia -----*/
h1  {
  font-size: 41px;
  font-weight: 300;
  color: white;
  padding-top: 50px;
  padding-bottom: 60px;
}
/* ---- Bottom ---- */
.colorLoop {
  background-color: #e2623f;
  font-size: 38px;
  color: white;
  font-weight: 400;
  padding: 20px 100px;
  border-radius: 50px;
  transition: 1s;
}
.colorLoop:hover {
  background-color: #06283c;
  font-size: 38px;
  color: #e2623f;
  font-weight: 400;
}
